<a href="https://colab.research.google.com/github/AlqarniMohammed/Python_projects/blob/main/Create_Phone_Directory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project to Create a Phone Directory**



**Requirements**

Build a program that represents a phone directory, which receives a phone number and returns the name of the person associated with that number. You can use the following table:

| Name     | Number      |
|----------|-------------|
| Amal     | 1111111111  |
| Mohammed | 2222222222  |
| Khadijah | 3333333333  |
| Abdullah | 4444444444  |
| Rawan    | 5555555555  |
| Faisal   | 6666666666  |
| Layla    | 7777777777  |

If a number in the directory is sent, the name of the person will be printed. If a number not found in the directory is entered, the message:
```
Sorry, the number is not found
```
will be printed.

If the phone number is less than or more than 10 digits, or if it contains other values (such as letters, symbols, or logical values), the sentence:
```
This is invalid number
```
will be printed.

**Additional Questions:**
- Search by person's name.
- Allow the program to let the user add a new user with their number to the directory.

# **Program code**

In [2]:
# Create a dictionary where key is phone number and value is name
Telephone_book = {"1111111111":"Amal","2222222222":"Mohammed","3333333333":"Awatef",
                  "4444444444":"Nada","5555555555":"Rawan","6666666666":"Abdullah",
                  "7777777777":"Reem"}

# Create another dictionary depends on first dictionary but here we switched between key and value
Telephone_book2 = {value : key for key,value in Telephone_book.items()}

# We defined a function that calls the name using the phone number
def search_number():
  number = input("Please write the phone number : ") # We made the phone number a user input
# We started the function by requiring that the number be 10 digits and free of letters and symbols Or this number will be printed as invalid
  if not number.isdigit() or len(number) != 10:
    print("This is invalid number")
# If the number is present in the dictionary we defined, it will call up the name of the owner of the number
  elif number in Telephone_book:
     print('This is',Telephone_book[number],'phone number')
# If the number is according to the conditions and is not found in the dictionary, it will be printed as not found
  else:
    print("Sorry, The number is not found")

# Here we have defined a function that searches for the phone number using the name
# We also applied the same conditions to the phone number search function
def search_name():
  name = input("Please write your name: ")
  if not name.isalpha():
    print("This is invalid name")
  elif name in Telephone_book2:
    print(name, "Phone number is", Telephone_book2[name])
  else:
    print("The name is not found")

# Here we have defined a function that allows the user to add a phone number to the dictionary
def add_number():
    new_number = input("Add your phone number:  ")
    new_name = input("Write your name: ")
# First, the function checks whether the number exists in the dictionary or not
    if new_number in Telephone_book:
      print("This phone number is already exist")
# The function also rejects unwanted formula
    elif not new_number.isdigit() or len(new_number) != 10:
      print("This is invalid number")
# The function also checks the form of the name
    elif not new_name.isalpha():
      print("This is invalid name")
    else:
# After verifying the conditions, the phone number and name are added to the first and second dictionaries
      print("Your number has been added",Telephone_book.update({new_number:new_name})) ;
      print("Your name has been added", Telephone_book2.update({new_name:new_number}))

# **Program testing**
Here we are tested the code

In [5]:
search_number()

Please write the phone number : 2222222222
This is Mohammed phone number

In [22]:
search_number()

Please write the phone number : 2468657289
Sorry, The number is not found

In [23]:
search_name()

Please write your name: Amal
Amal Phone number is 1111111111

In [24]:
search_name()

Please write your name: Mohamme4
This is invalid name

In [25]:
search_name(
)

Please write your name: Ali
The name is not found

In [6]:
Telephone_book

{'1111111111': 'Amal',
 '2222222222': 'Mohammed',
 '3333333333': 'Awatef',
 '4444444444': 'Nada',
 '5555555555': 'Rawan',
 '6666666666': 'Abdullah',
 '7777777777': 'Reem'}

In [7]:
Telephone_book2

{'Amal': '1111111111',
 'Mohammed': '2222222222',
 'Awatef': '3333333333',
 'Nada': '4444444444',
 'Rawan': '5555555555',
 'Abdullah': '6666666666',
 'Reem': '7777777777'}

In [29]:
add_number()

Add your phone number:  2222222222
Write your name: Mojhagahahh
This phone number is already exist

In [30]:
add_number()

Add your phone number:  3464756
Write your name: Aas
This is invalid number

In [31]:
add_number()

Add your phone number:  0531468590
Write your name: Moha3med
This is invalid name

In [47]:
add_number()

Add your phone number:  0531468590
Write your name: Mohammed
Your number has been added None
Your name has been added None

In [48]:
Telephone_book2

{'Amal': '1111111111',
 'Mohammed': '0531468590',
 'Awatef': '3333333333',
 'Nada': '4444444444',
 'Rawan': '5555555555',
 'Abdullah': '6666666666',
 'Reem': '7777777777',
 'Ali': '8888888888'}

In [49]:
Telephone_book

{'1111111111': 'Amal',
 '2222222222': 'Mohammed',
 '3333333333': 'Awatef',
 '4444444444': 'Nada',
 '5555555555': 'Rawan',
 '6666666666': 'Abdullah',
 '7777777777': 'Reem',
 '8888888888': 'Ali',
 '0531468590': 'Mohammed'}